// Google fonts
@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

// Spacing
$base-spacing: 12px;

$default-border: 1px solid #ccc;